.student-heading{
    background-color: #000000;
    .student-wrapper{
        max-width: 1076px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 12px 20px;
        .student-title{
            color: #707070;
            font: Regular 24px/29px Helvetica Neue;
            font-size: 24px;
            text-align: left;
        }
        .sidemenu{
            .primary-button{
                padding: 7px 23px;
                background-color: #FFFFFF;
                border-radius: 4px;
                box-shadow: 0px 1px 3px #00000033;
                color: #11B9F0;
                font: Italic 14px/16px Roboto;
            }
            :first-child{
                margin-right: 16px;
                color: #36F498;
            }
        }
    }
}