<div class="table-responsive">
    <table class="table student-list">
        <thead>
            <tr class="table-heading">
                <th>Student Name</th>
                <th>Registration No</th>
                <th>Class</th>
                <th>Grade</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf = !details.length>
                <td colspan="4">
                    No Records Found!!!
                </td>

            </tr>
            <tr *ngFor = "let student of details;let k = index" 
            [ngStyle] = 
            "{'backgroundColor' : k%2==0 ? 'lightgrey' : 'white'}"
            class="table-records">
                <td>{{student.Name || errorMessage}} </td>
                <td>{{student.RegestrationNo || errorMessage}}</td>
                <td>{{student.Class || errorMessage}}</td>
                <td>{{student.Division || errorMessage}}</td>
                <td>
                    <button class="image-wrapper" (click) = "studentDetails(student)">
                        <img src="../../../assets/icons/icons8-next-page-64.png">
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
