<!-- <p>{{value}}</p> -->

    <div class="card">
        <h4 class="card-heading">Student Details</h4>
        <div class="row student-card">
            <div class="col-md-6 card-field">
                <h5 class="left-content">Student Name</h5>
                <span class="left-content right-content">{{studentValue.Name || errorMessage}}</span>
            </div>
            <div class="col-md-6 card-field">
                <h5 class="left-content">Fees</h5>
                <span class="left-content right-content">{{studentValue['Fee'] || errorMessage}}</span>
            </div>
            <div class="col-md-6 card-field">
                <h5 class="left-content">Class</h5>
                <span class="left-content right-content">{{studentValue.Class || errorMessage}}</span>
            </div>
            <div class="col-md-6 card-field">
                <h5 class="left-content">Due Date</h5>
                <span class="left-content right-content">{{studentValue.DueDate || errorMessage}}</span>
            </div>
            <div class="col-md-6 card-field">
                <h5 class="left-content">Division</h5>
                <span class="left-content right-content">{{studentValue.Division || errorMessage}}</span>
            </div>
            <div class="col-md-6 card-field">
                <h5 class="left-content">Contact No</h5>
                <span class="left-content right-content">{{studentValue.ContactNo || errorMessage}}</span>
            </div>
            <div class="col-md-6 card-field">
                <h5 class="left-content">Rank</h5>
                <span class="left-content right-content">{{studentValue.Rank || errorMessage}}</span>
            </div>
            <div class="col-md-6 card-field">
                <h5 class="left-content">Address</h5>
                <address class="left-content right-content">{{studentValue.Address || errorMessage}}</address>
            </div>
    </div>

