.main-container{
    height: 100%;
    min-height: calc(100vh - 62px);
    background: transparent linear-gradient(90deg, #6A11CB 0%, #424CE8 59%, #3F50EA 63%, #2575FC 100%);
    .container{
        max-width: 1076px;
        margin: 0 auto;
    }
}

